<% set_meta_tags title: 'Профіль: '+@user.try(:name) %>
<h4><%= @user.try(:name) %></h4>
<% if user_signed_in? %>
	<% if @user.id == current_user.id %>
		<%= link_to 'Редагувати', edit_user_path(current_user), class: "btn btn-primary" %>
	<% else %>
		<div></div>
	<% end %>
<% end %>